## Python Basics

__1. Correct indentation and strings__
- Strings are used for storing and representing text data.

In [1]:
print('This Kooc is an excellent course')
print("Course name \nis Practical Python")
print("Those who don't take this Kooc would regret their decisions")

This Kooc is an excellent course
Course name
is Practical Python
Those who don't take this Kooc would regret their decisions

__2. Integers, floats and decimals: using Python as a calculator__
- Variable names are identifiers, so they follow the rules of identifier.
- Variables store values such as strings, numbers, and other data types.
- Use a hash, #, to write memos in a line.

In [2]:
# addition: using a hash(#) sign, you can write memos.
23+17

40

In [3]:
2/3

0.6666666666666666

In [4]:
x = 23; y = 17
print(x + y)
print(x + y, x-y, x * y, x/y)

40
40 6 391 1.3529411764705883

__3. Data types and simple use of print function__

In [5]:
# Addition
y = 5   # assign a value to the variable y.
z = 7.5
print("y + z =", y + z)
# Subtraction
print("z -y =", z -y)
# Multiplication
print("y * z =", y * z)
# Division
print("z / y=", z/y)
# Exponent
print("y**2 =", y**2)
# Floor division: returns the highest integer, not greater than the result
print('z//y =', z//y)
# Remainder
print('z%y =', z%y)
print(type(y))
print(type(z))

y + z = 12.5
z -y = 2.5
y * z = 37.5
z / y= 1.5
y**2 = 25
z//y = 1.0
z%y = 2.5
<class 'int'>
<class 'float'>

__4. String, Boolean, and triple quoted strings__
- Boolean expression
- """ are used to write multiple line strings """.
- Is also used for docstrings.

In [6]:
print(7 > 3)
print(3 > 7)
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [7]:
"""Triple quoted strings are used to write multiple line strings.
This is an example of a doc string."""

'Triple quoted strings are used to write multiple line strings.\nThis is an example of a doc string.'

In [8]:
"""
a + b = c
d + e = g
"""

'\na + b = c\nd + e = g\n'

__5. Taking input values__

In [9]:
your_name = input('What is your name?')
print(your_name)

What is your name? JWY

JWY

In [10]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 29

29 <class 'str'>

In [11]:
my_age = input('How old am I?')
print(your_age+my_age)
# string concatenation

How old am I? 30

2930

In [12]:
# Turning string value to integer
print(int(your_age)+int(my_age))
int(21.8)
# int function converts strings and floating numbers into integers

59

21

In [13]:
print(float(your_age)+float(my_age))

59.0

__6. If clause and comparison operators__

__[Comparison operators]__
- x > y : x is greater than y
- x < y : x is less than y
- x >=  y : x is greater than or equal to y
- x <=y : x is less than or equal to y
- x == y : x is equal to y
- x != y : x is not eqaul to y

__[If clause]__
- if : performs an action if a condition is met (True) and no action if not.
- if...else : same as above and returns alternative action if not.

In [14]:
x = int(input('Enter an integer')) #Taking an integer

if x == 1:    #if-clause
    print('x has a value of 1')
else:
    print('x does not have a value of 1')

Enter an integer 0

x does not have a value of 1

In [15]:
var1 = int(input('Enter the first integer'))
if var1 < 0:
    print('The first integer is', var1, 'and its value is negative.')
    
var2 = int(input('Enter the second integer'))
if var2 < 0:
    print('The second integer is negative', 'and its value is',var2)
else:
    print('The second integer is positive', 'and its value is',var2)

Enter the first integer -1

The first integer is -1 and its value is negative.

Enter the second integer -2

The second integer is negative and its value is -2

__7. Dynamic value assignment and type changing__
- What happens if you assig different values for the same variable?

In [16]:
print(x, type(x))

x = 2.5
print(x, type(x))

x = 'Arnold'
print(x, type(x))

0 <class 'int'>
2.5 <class 'float'>
Arnold <class 'str'>

__8. Multiple statements on a single line__
- Separate two command lines with semicolon

In [17]:
print("Hello!"); print("This is KOOC content \nfor Python basics.")

Hello!
This is KOOC content
for Python basics.