## Python: Lists and Tuples
- Lists, tuples and strings are sequences (consecutive data) in Python Standard Libraries.
- Arguments (elements) are consecutive and have index starting from zero.

__1. Lists: concept, indexing, and slicing__
- Lists typically store homogeneous data in order.
- Hoewever, they can store heterogeneous data and mutable (modifiable).
- Lists are denoted by square bracket [], in which data items (elements) are put.
- A list's index for elements starts from zero.

In [1]:
# An example of list
list1 = [1, 2, 3,4,5, 6, 11, 'a', 'b']
print(type(list1), list1)

<class 'list'> [1, 2, 3, 4, 5, 6, 11, 'a', 'b']

In [2]:
# Access elements with indexes (slicing)
print(list1[1], list1[7])
print(list1[2:5]) # slicing
print(list1[:7])
print(list1[4:])
print(list1[-1]) # slicing: negative index from the end
print(list1[-4:])
print(list1[1+2:]) #index addition is possible

2 a
[3, 4, 5]
[1, 2, 3, 4, 5, 6, 11]
[5, 6, 11, 'a', 'b']
b
[6, 11, 'a', 'b']
[4, 5, 6, 11, 'a', 'b']

In [3]:
# finding the size of a list with len()
len(list1)

9

In [4]:
# A list is mutable (modifiable)
list1[6] = 'c'
print(list1)
#list[9] # trying to access an element not existing

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b']

In [1]:
# Appending a list
list2 = [] # An empty list is defined
for item in range(11, 14, 1):
    list2 += [item] # turn item into a list element
#   list2.append(item)
print(list2)

# Appending a string to a list
list3 = []
list3 += 'Python Kooc'
print (list3, len(list3))

# Appending a tuple to a list
list3 += ('M', 'o', 'o', 'c')
print(list3, len(list3))

[11, 12, 13]
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c'] 11
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c', 'M', 'o', 'o', 'c'] 15

In [8]:
# Concatenating lists
list12 = list1  + list2
print(list12)

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

In [9]:
# Obtaining index and elements paired
for i in range(len(list12)):
    print(f'({i},{list12[i]})', end =' ')

(0,1) (1,2) (2,3) (3,4) (4,5) (5,6) (6,c) (7,a) (8,b) (9,11) (10,12) (11,13)

__2. Tuples__
- Immutable and typically store heterogeneous data
- So, datasets are often stored as tuples.
- Tuples are denoted by parenthesis (), in which data are put.

In [10]:
# An example of a tuple
t1 = 10, 20, 30, 'John' # A tuple does not require ().
t1 += (40, 50)
print(t1)

(10, 20, 30, 'John', 40, 50)

In [11]:
# Tuple indexing and slicing
t2 = tuple([1,2,3,4]) # A tuple with a list in it.
print(t2)
print(t2[2])
print(t2[:3])

(1, 2, 3, 4)
3
(1, 2, 3)

In [12]:
# a tuple with string and a list of grades
# a list is mutable
t3 = 'Kim', 'Lee', 'Park', [80,90,100]
print(t3, len(t3), t3[3])
t3[3][1] = 85
print(t3)

('Kim', 'Lee', 'Park', [80, 90, 100]) 4 [80, 90, 100]
('Kim', 'Lee', 'Park', [80, 85, 100])

__3. Unpacking sequences: any sequence can be unpacked__

In [17]:
# unpacking tuples
t4 = (('Kim', 'Lee', 'Park'), [80,90,100])
print(len(t4))
last_name, grades = t4 # two objects are created
print(last_name, grades, type(last_name), type(grades))

# unpacking a list
grade1, grade2, grade3 = grades
print(grade1, grade2, grade3)

# unpacking a string
first, second, third, fourth = 'WIFI'
print(first, second, third, fourth)

2
('Kim', 'Lee', 'Park') [80, 90, 100] <class 'tuple'> <class 'list'>
80 90 100
W I F I

__4. Enumerate: A built-in function__
- for creating a list or tuple with index and element value.

In [18]:
colors = ['red', 'yellow', 'blue', 'black', 'white']
print(list(enumerate(colors)))
print(tuple(enumerate(colors)))

# printing index and value of the list
for index, color in enumerate(colors):
    print(f'{index}:  {color}')

[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
((0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white'))
0:  red
1:  yellow
2:  blue
3:  black
4:  white

In [21]:
# Creating a simple bar chart with enumerate
bar = [19,8,15,7,11]
print('Creating a bar chart:')
print(f'Index{"value":>8}   Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8}   {"*"*value}')

Creating a bar chart:
Index   value   Bar
    0      19   *******************
    1       8   ********
    2      15   ***************
    3       7   *******
    4      11   ***********